.categories {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; 
  gap: 24px; 
  width: 440px;
  box-sizing: border-box; 
  background-color:#fff;
}

.categories .item-animals,
.categories .item-products,
.categories .item-technologies {
  background-color: #f6f6fe;
  border-radius: 8px; 
  padding: 24px;
}

.categories-name-animals,
.categories-name-products,
.categories-name-technologies {
  font-size: 24px;
  font-weight: 600; 
  color:  #2e2f42; 
  margin-top: 0;
  margin-bottom: 20px; 
  padding-bottom: 10px; 
  
}

.categories-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.categories-item {
  border: 1px solid #808080; 
  border-radius: 6px; 
  padding: 12px 15px;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
