.greeting-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px; 
    width: 408px;
    height: 136px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
}

input#name-input {
    width: 360px; 
    padding: 12px 16px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 20px; 
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    color: #2e2f42;;
    margin: 0;
    font-weight: 600;
    line-height: 133%;
    letter-spacing: 0.04em;
}